.outer-container{
    display:flex;
    justify-content: center;
}

.container{
    display:flex;
    justify-content: center;
    border:1px solid rgb(0, 0, 0);
}

.header{
    display:flex;
    justify-content: center;
    margin:16px;
    gap:20px;
}

.square-div{
    width:10px;
    height:10px;
    opacity: 0.1;
}